@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --bgColor: #333;
  --pageBgColor: #fafafa;
  --white: #fff;
  --circleColor: #ff7979;
  --textColor: #222;
  --paragraphColor: #333;
  --smallColor: #555;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  margin: 0;
}

#nav {
  position: fixed;
  height: 200vh;
  width: 100vw;
  top: 150px;
  z-index: 100;
}

.content {
  position: absolute;
  font-family: 'Lato', sans-serif;
  top: 0;
  left: 0;
  width: 100vw;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  min-height: 100vh;
  width: 100vw;
}

.container {
  background-color: var(--pageBgColor);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--circleColor);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: var(--white);
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
  z-index: 150;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
  z-index: 150;
}

.container.show-nav + .page-nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.page-nav {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.page-nav ul {
  list-style-type: none;
  padding-left: 30px;
}

.page-nav ul li {
  text-transform: uppercase;
  color: var(--white);
  margin: 40px 0;
  transform: translate(-100%);
  transition: transform 0.4s ease-in;
}

.page-nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

.page-nav ul li + li {
  margin-left: 15px;
  transform: translate(-150%);
}

.page-nav ul li + li + li {
  margin-left: 30px;
  transform: translate(-200%);
}

.page-content img {
  max-width: 100%;
}

.page-content {
  max-width: 1000px;
  margin: 50px auto;
}

.page-content h1 {
  margin: 0;
}

.page-content small {
  color: var(--smallColor);
  font-style: italic;
}

.page-content p {
  color: var(--paragraphColor);
  line-height: 1.5;
}
