/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.navbar {
  position: relative;
  z-index: 100;
  height: 100vh;
  width: 60px;
  overflow-y: scroll;
  /* width: 100vw; */
  /* scrollbar-color: transparent; */
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.navbar:hover {
  width: max-content;
  z-index: 300;
}

.content {
  background-color: steelblue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.content:hover {
  z-index: 200;
}

main {
  position: absolute;
  top: 0;
  /* left: 65px; */
  left: 50vw;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #000;
  background-color: #fff;
}

.fill {
  background-image: url('./assets/animal-8839173_1280.jpg');
  height: 145px;
  width: 145px;
  background-size: cover;
  background-position: 20%;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
