@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

#nav {
  position: relative;
  z-index: 100;
  height: 200vh;
  width: 100vw;
}

.content {
  position: absolute;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  top: 0;
  left: 0px;
  width: 100vw;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 550px) {
  body {
    flex-direction: column;
  }
}
