@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
  --bgColor: #516dff;
  --textColor: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

#nav {
  position: relative;
  z-index: 100;
  height: 200vh;
  width: max-content;
}

.content {
  position: absolute;
  font-family: 'Press Start 2P', sans-serif;
  color: var(--textColor);
  text-align: center;
  top: 0;
  left: 0px;
  width: 100vw;
}

main {
  position: absolute;
  top: 0;
  left: 72px;
  height: 100vh;
  width: 100vw;
}

a {
  color: var(--textColor);
}

h1 {
  line-height: 1.4;
}

.btn {
  border: 0;
  background-color: var(--textColor);
  color: var(--bgColor);
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 72px * 2);
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid var(--textColor);
  color: var(--textColor);
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;
}

.choose-insect-btn:hover {
  background-color: var(--textColor);
  color: var(--bgColor);
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 30px;
}

.time {
  left: 72px;
}

.score {
  right: 72px;
}

.message-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 120%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
  z-index: 150;
}

.message-container.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.message {
  line-height: 1.7;
  text-align: center;
}

.message-btn-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 430px;
  padding-bottom: 20px;
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-out;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  width: 100px;
  height: 100px;
}
