@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  /* overflow-y: visible;
  background: transparent; */
}

#nav {
  position: relative;
  width: 72px;
}

.content {
  background-color: #efedd6;
  position: relative;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0px;
  width: 100vw;
}

main {
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
}

h1 {
  margin: 10px;
}

.box {
  background-color: slategray;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
  /* position: relative;
  z-index: 200; */
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
